* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    color: white;
    font-family: sans-serif;
}

.body-div {
    min-height: 100vh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-load {
    position: relative;
    width: 300px;
    height: 15px;
    border: 1px solid white;
    border-radius: 8px;
}

.bg-warning-loading {
    background-color: yellow;
    margin-top: -1px;
    height: 100%;
    width: 0;
    border-radius: 8px;
    transition: width 2s, opacity 1s;
    opacity: 1;
}

.bg-warning-loading.loading {
    width: 100%;
    opacity: 0;
}

@keyframes increaseWidth {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.startAnimation {
    width: 0%;
    height: inherit;
    animation: increaseWidth 1s ease-in-out forwards;
}

.vertical-center {
    display: flex;
    justify-content: center;
}

.navbar {
    box-shadow: 0px 0px 6px rgb(76, 162, 76);
    z-index: 999;
}

.nav-link {
    font-size: 20px;
}

.nav-item {
    margin: 10px 12px;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.navbar-brand {
    transition-duration: .2s;
}

.navbar-brand:hover {
    transition-duration: 0.2s;
    transform: scale(1.2, 1.2);
}

.footer {
    margin-top: 50px;
    box-shadow: 0px 0px 8px rgb(76, 162, 76);
}

.nav-link:hover {
    color: white;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.right-container {
    float: right;
    margin-right: 20px;
    border: 2px solid white;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 5px 10px;
    transition-duration: 0.2s;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    text-transform: capitalize;
}

.right-container:hover {
    background: rgba(255, 255, 255, 0.262);
    transition-duration: .2s;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: 5px 10px;
    padding: 10px;
}

.col-md-3 {
    padding: 0 !important;
}

.home-big-pic {
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(to bottom, #2222228a, #222222a3), url(templates\Assets\images\homepic.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-big-pic-content {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.titillium-web-medium {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titillium-web-heavy {
    font-family: "Titillium Web", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.titillium-web-light {
    font-family: "Titillium Web", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.home-big-pic-content>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-heading {
    font-size: 70px;
    letter-spacing: 3px;
    word-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    cursor: pointer;
    border: 2px solid white;
    padding: 10px 12px;
    font-size: 22px;
    border-radius: 10px;
    word-spacing: 3px;
    letter-spacing: 2px;
    transition-duration: 0.4s;
    text-decoration: none;
}

.button:hover {
    background: rgba(255, 255, 255, 0.288);
    transition-duration: 0.4s;
}


.home-sub-heading {
    font-style: italic;
    color: rgba(255, 255, 255, 0.715);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.715);
    font-size: 19px;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-row {
    margin-top: 50px;
    margin-bottom:30px;
}
